footer {
    background: rgb(255,184,0);
    background: radial-gradient(circle, rgba(255,184,0,1) 27%, rgba(255,226,0,1) 100%);
}

footer input {
    text-align: center;
    background-color: white;
}

footer p {
    display: inline;
    margin-left: 65%;
}